<!-- Validation failure messages -->
<% if @return.errors.any? %>
  <% @return.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Return</h3>
</div>




<div class="row">
  <div class="col-md-12">
    <form action="/create_return" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">


      <input name="item_id" type="hidden" value="<%= params[:item_id] %>">

      <!-- Label and input for return_by_date -->
      <div class="form-group">
        <label for="return_by_date" class="control-label">
          Return by date
        </label>

        <input type="text" id="return_by_date" name="return_by_date" placeholder="dd/mm/yyyy" class="form-control" value="<%= @return.return_by_date %>">
      </div>

      <!-- Label and input for return_reason -->
      <div class="form-group">
        <label for="return_reason" class="control-label">
          Return reason
        </label>

        <input type="text" id="return_reason" name="return_reason" placeholder="Return reason" class="form-control" value="<%= @return.return_reason %>">
      </div>

      <!-- Label and input for ship_date -->
      <div class="form-group">
        <label for="ship_date" class="control-label">
          Ship date
        </label>

        <input type="text" id="ship_date" name="ship_date" placeholder="dd/mm/yyyy" class="form-control" value="<%= @return.ship_date %>">
      </div>



      <!-- Label and input for return_notes -->
      <div class="form-group">
        <label for="return_notes" class="control-label">
          Return notes
        </label>

        <textarea id="return_notes" name="return_notes" placeholder="Return notes" class="form-control" rows="3"><%= @return.return_notes %></textarea>
      </div>

      <button class="btn btn-success">
        Create Return
      </button>
      or
      <a href="/returns">Cancel</a>
    </form>
  </div>
</div>
